<h1>Give us some numbers!</h1>

<form action="/output">
  <div class="form-group">
    <!-- A -->
    <label for="sidea">Side A</label>
    <input id="sidea" name="sidea" class="form-control" type="text">
    <!-- B -->
    <label for="sideb">Side B</label>
    <input id="sideb" name="sideb" class="form-control" type="text">
    <!-- C -->
    <label for="sidec">Side C</label>
    <input id="sidec" name="sidec" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">What is it?!</button>
</form>
